{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Регистрация</h3>
    <div class="box">
        <form method="POST" action="/register">
            {{ form.hidden_tag() }}


            <div class="field">
                <div class="control">
                    {{ form.name.label }}
                    {{ form.name(class="input is-large", placeholder="name") }}
                    {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.email.label }}
                    {{ form.email(class="input is-large", type="email", placeholder="email") }}
                    {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.password.label }}
                    {{ form.password(class="input is-large", type="password", placeholder="Password") }}
                    {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.password_submit.label }}
                    {{ form.password_submit(class="input is-large", type="password", placeholder="Password submit") }}
                    {% for error in form.password_submit.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        <div class="field">
            <div class="control">
                {{ form.about(class="input is-large") }}
                {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
            {{ form.submit(type="submit", class="button is-block is-info is-large is-fullwidth") }}
        {{ message }}
        </form>
    </div>
</div>
{% endblock %}